<h1>Show Product</h1>

<ng-container *ngIf="product">
    <table>
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{product.id}}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{product.name}}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{product.price}}</td>
            </tr>
        </tbody>
    </table>
</ng-container>
