<h1>Persons</h1>

<button (click)="toggle()">Toggle list empty/full</button>

<ng-container *ngIf="persons.length === 0">
    <p class="empty">
        No person objects here
    </p>
</ng-container>

<ng-container *ngIf="persons.length > 0">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of persons; let row=index; let even=even" 
                [ngClass]="{'striped-row': even}">
                <td>{{ row + 1 }}</td>
                <td>{{ p.first_name }}</td>
                <td>{{ p.last_name }}</td>
                <td>{{ p.email }}</td>
            </tr>
        </tbody>
    </table>
</ng-container>

