<div>
    <h3>Shopping Basket</h3>
    <p *ngIf="basketSvc.empty">
        No products
    </p>
    <p *ngIf="basketSvc.count === 1">
        There is one product
    </p>
    <p *ngIf="basketSvc.count > 1">
        There are {{basketSvc.count}} products
    </p>
</div>
