<ng-container *ngIf="(products$ | async) as products">
    <h3>List of Object</h3>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of products" (click)="showProduct(p.id)">
                <td>{{p.id}}</td>
                <td>{{p.name}}</td>
                <td>{{p.price}}</td>
            </tr>
        </tbody>
    </table>
</ng-container>

<fieldset>
    <legend>Detail</legend>
    <router-outlet></router-outlet>
</fieldset>