<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Angular Bootstrap Demo</a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container">
    <h1>Some fun robots</h1>

    <div class="card-group">
        <div class="card shadow">
            <img src="https://robohash.org/bazinga.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Robot #1</h5>
                <p class="card-text">
                    RoboHash.org is here because Robots are funny, and because I needed the algorithm/art
                    anyway for a Super-Awesome new forum I'm working on. If you use a specific set, or a list
                    of them, like "<code>?sets=1,3</code>" , it'll probably stay the same as it is now. If you use
                    "<code>set=any</code>",
                    it'll include any new sets I happen to add, so existing hashes may change.
                </p>
                <a href="#" class="btn btn-secondary">Nothing</a>
            </div>
        </div>

        <div class="card mx-4 shadow">
            <img src="https://robohash.org/foobar.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Robot #2</h5>
                <p class="card-text">
                    For those inclined, there are several advanced techniques which have been added over time.
                    For Gravatar enthusiasts, you can ask Robohash to use a Gravatar if one is available.
                    Put either the email, or the hashed version, in your image where the string normally goes -
                    For example: <code>https://robohash.org/robo@robohash.org?gravatar=yes</code>
                    or <code>https://robohash.org/620050a4db5104bae758cd75171d64ca?gravatar=hashed</code>
                </p>
                <a href="https://robohash.org/" class="btn btn-success">View Robohash</a>
            </div>
        </div>

        <div class="card shadow">
            <img src="https://robohash.org/tjollahopp.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Robot #3</h5>
                <p class="card-text">
                    We've also conditioned our robots to accept commands either via params or directories-
                    For instance <code>https://robohash.org/set_set3/bgset_bg1/3.14159?size=500x500</code>
                </p>
                <a href="#" class="btn btn-warning">Nowhere</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>Luxon Dates</h2>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>ISO</th>
                        <th>ISO Date</th>
                        <th>ISO Time</th>
                        <th>Relative</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let d of dates">
                        <td>{{ d.toISO() }}</td>
                        <td>{{ d.toISODate() }}</td>
                        <td>{{ d.toISOTime({includeOffset: false}) }}</td>
                        <td>{{ d.toRelative() }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
