<h1>Forms Demo</h1>

<template-oriented-form [init]="user" (submit)="onSubmit($event)"></template-oriented-form>
<p></p>
<component-oriented-form [init]="user" (submit)="onSubmit($event)"></component-oriented-form>

<hr>
<kbd>User:</kbd>
<pre>{{ user | json }}</pre>
