<h1>Logger &amp; Product Service</h1>

<button (click)="msg()">Print message to JS console</button>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products ">
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.price | currency}}</td>
        </tr>
    </tbody>
</table>

