section {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 50rem;
    height: 100%;
    background-color: white;
    position: relative;

    header {
        h1 {
            text-align: center;
            font-variant: small-caps;
            color: dodgerblue;
            text-shadow: 1px 1px #888;
            font-size: 2rem;
            padding: 0;
            margin: 0;
        }
    }

    nav {
        margin-top: .5em;
        position: relative;
        basket-widget {
            position: absolute;
            right: 1em;
            top: 0;
        }
    }

    main {
        padding: 0 1em;
    }

    footer {
        position: absolute;
        left:0;
        right:0;
        bottom:0;
        background-color: #333;
        color: #f0f0f0;
        font-size: .8rem;
        text-align: center;
        padding: 1em;
    }
}
