<ng-container *ngIf="editing">
    <ng-container *ngIf="fieldType === 'checkbox'">
        <input type="checkbox" [(ngModel)]="editableValue" (change)="onChange($event)">
    </ng-container>
    <ng-container *ngIf="fieldType !== 'checkbox'">
        <input [type]="fieldType" [(ngModel)]="editableValue" (keyup)="onKeyUp($event)">
    </ng-container>
</ng-container>

<ng-container *ngIf="!editing">
<!--    <span >-->
        <ng-container *ngIf="fieldType === 'checkbox'">
            <span *ngIf="propertyValue" (click)="edit()">✔</span>
            <span *ngIf="!propertyValue" (click)="edit()">❌</span>
        </ng-container>
        <ng-container *ngIf="fieldType !== 'checkbox'">
            <span *ngIf="!empty" (click)="edit()">{{propertyValue}}</span>
            <span *ngIf="empty" class="hint" (click)="edit()">{{hint}}</span>
        </ng-container>
<!--    </span>-->
</ng-container>
