:host {
    font-family: sans-serif;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 45em;
    margin-top: 4em;
    background-color: dodgerblue;
    color: white;
    padding: 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    display: block;
    font-variant: small-caps;
}

input {
    display: block;
    width: 100%;
    padding: .1em .5em;
    border-radius: .5em;
    font-size: 1.25rem;
}

table {
    width: 100%;
}

th, td {
    padding: .1em .5em;
    text-align: left;
}
