<main>
    <h1>
        Interactive Programming Languages Search
    </h1>

    <p>
        <label for="search">Search languages by name, author or year</label>
        <input type="search" id="search" placeholder="Search here" [formControl]="searchField">
    </p>

    <ng-container *ngIf="(results$ | async) as languages">
        <h2>Results</h2>

        <p *ngIf="languages.length === 0">
            No languages found!
        </p>

        <table *ngIf="languages.length > 0">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Language Name</th>
                    <th>Inventor Name</th>
                    <th>First Release</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let lang of languages; let row=index;">
                    <td>{{ row + 1 }}</td>
                    <td>{{ lang.name }}</td>
                    <td>{{ lang.inventor }}</td>
                    <td>{{ lang.year }}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</main>
