<fieldset>
    <legend>Component-Oriented Registration Form</legend>

    <form [formGroup]="form">

        <label>
            Name
            <input type="text" [formControl]="nameCtrl">
            <ul *ngIf="nameCtrl.errors && nameCtrl.dirty">
                <li *ngIf="nameCtrl.errors['required']">Must have a value</li>
                <li *ngIf="nameCtrl.errors['minlength']">
                    At least {{ nameCtrl.errors['minlength']['requiredLength'] }} chars
                </li>
            </ul>
            <div>
                errors: <code>{{ nameCtrl.errors | json}}</code>
            </div>
        </label>

        <label>
            Age
            <input type="number" [formControl]="ageCtrl">
            <ul *ngIf="ageCtrl.errors && ageCtrl.dirty">
                <li *ngIf="ageCtrl.errors['required']">Must have a value</li>
                <li *ngIf="ageCtrl.errors['min']">At least {{ ageCtrl.errors['min']['min'] }}</li>
                <li *ngIf="ageCtrl.errors['max']">At most {{ ageCtrl.errors['max']['max'] }}</li>
            </ul>
            <div>
                errors: <code>{{ ageCtrl.errors | json}}</code>
            </div>
        </label>

        <p>
            <button [disabled]="form.invalid" (click)="submit()">
                Submit Form
            </button>
        </p>
    </form>
</fieldset>
