<div>
  <h1>List of Products</h1>

  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>In Stock</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of products; index as ix">
      <td>{{ix+1}}</td>
      <td>{{p.name}}</td>
      <td>{{p.price | currency:'SEK'}}</td>
      <td>{{p.inStock | number:'1.0-0'}}</td>
    </tr>
    </tbody>
  </table>
</div>
