ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #eee;

    li {
        display: inline-block;

        a {
            display: inline-block;
            text-decoration: none;
            color: inherit;
            padding: 0.5rem;
            font-weight: 600;

            &:hover {
                background-color: orange;
                color: #555;
            }

            &.active {
                background-color: #1e88e5;
                color: #fff;
            }
        }
    }

    li + li {
        padding-left: 1rem;
    }
}
