<h1>Component-Oriented Form Demo</h1>

<form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
  <table>
    <tr>
      <th>Name</th>
      <td>
        <input type="text" formControlName="name" placeholder="Your first and last names">
      </td>
      <td>
        <ul *ngIf="f.name.dirty && f.name.invalid">
          <li *ngIf="f.name.errors.required">Must provide a value</li>
          <li *ngIf="f.name.errors.minlength">At least 3 characters</li>
          <li *ngIf="f.name.errors.maxlength">At most 10 characters</li>
        </ul>
      </td>
    </tr>

    <tr>
      <th>Age</th>
      <td><input type="number" formControlName="age" placeholder="Your age"></td>
      <td>
        <ul *ngIf="f.age.dirty && f.age.invalid">
          <li *ngIf="f.age.errors.required"  > Must provide a numeric value </li>
          <li *ngIf="f.age.errors.multipleOf"> Must be a multiple of 4 </li>
        </ul>
      </td>
    </tr>

    <tr>
      <th>Email</th>
      <td>
        <input type="email" formControlName="email" placeholder="Your email address">
      </td>
      <td>
        <ul *ngIf="f.email.dirty && f.email.invalid">
          <li *ngIf="f.email.errors.required" > Must provide a value</li>
          <li *ngIf="f.email.errors.email"    > Must contain a @ sign </li>
          <li *ngIf="f.email.errors.minlength"> Must have at least 5 chars </li>
        </ul>
      </td>
    </tr>

    <tr>
      <th>Email Repeat</th>
      <td><input type="email" formControlName="email2"
               placeholder="Your email address, repeated">
      </td>
      <td>
        <ul *ngIf="f.email2.dirty && f.email2.invalid">
          <li *ngIf="f.email2.errors.required"> Must provide a value</li>
          <li *ngIf="f.email2.errors.equals"  > Must be equal with 1st email</li>
        </ul>
      </td>
    </tr>

    <tr>
      <th></th>
      <td>
        <button type="submit" [disabled]="form.invalid">SAVE</button>
      </td>
    </tr>
  </table>
</form>

<hr/>
<p>Form: {{form.status}}</p>
<pre>{{form.value | json}}</pre>
